<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
    <customErrors mode="Off" />
    <identity impersonate="false" password="mdp118alpha#" userName="Administrator" />
  </system.web>
  <connectionStrings>
    <!-- MDPDIGITAL\MSSQL -->
    <!-- WIN-VHN41RIRKBE\MSSQL -->
     <!-- <add name="Conn" connectionString="Data Source=.;Initial Catalog=Db_Scrap_Manage;Integrated Security=True" providerName="System.Data.SqlClient"/> -->
    <!-- <add name="Kiosk_Conn" connectionString="Data Source=.;Initial Catalog=Db_Scrap_Manage;Integrated Security=True" providerName="System.Data.SqlClient"/> -->
    <add name="Conn" connectionString="Data Source=MDPDIGITAL\MSSQLSERVER1;Initial Catalog=Db_Scrap_Manage;User ID=sa; Password=Dbadmin2012" providerName="System.Data.SqlClient"/>
    <add name="Kiosk_Conn" connectionString="Data Source=MDPDIGITAL\MSSQLSERVER1;Initial Catalog=DBPGWP;User ID=sa; Password=Dbadmin2012" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <httpErrors existingResponse="PassThrough" />
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>

  </system.webServer>

</configuration>